<a href="https://colab.research.google.com/github/anastasiia-vsk/Start-into-ML/blob/main/%D0%92%D0%B0%D1%81%D1%8C%D0%BA%D0%BE(%D0%BF%D1%804).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### ЛАБОРАТОРНА РОБОТА 4
## Задача класифікації.

In [1]:
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import GridSearchCV
from sklearn.impute import SimpleImputer
import pandas as pd
import matplotlib.pyplot as plt

### Частина 1. Датасет Breast Cancer

Опис Датасету Breast Cancer
1. Опис:
Класифікація раку молочної залози на основі ознак, які вказують
на доброякісний (benign) чи злоякісний (malignant) характер
пухлини.
2. Датасет доступний у бібліотеці scikit-learn та отриманий з вивчення
медичних зображень.
    1. Кількість зразків: 569
    2. Кількість ознак: 30
3. Ознаки представляють різні характеристики клітинних ядер пухлини, наприклад, радіус, текстуру, периметр, площу, гладкість тощо. Усі ознаки числові.
    1. mean radius
    2. mean texture
    3. mean perimeter
    4. mean area
    5. mean smoothness
    6. (інші 25 ознак, що вимірюються як середні значення, стандартні відхилення та "worst" показники)
4. Цільова змінна (target):
    ▪ 0 (доброякісний, benign)
    ▪ 1 (злоякісний, malignant)
5. Формат даних:
    Ознаки: Масив NumPy з розмірністю (569, 30).
    Цільова змінна: Масив NumPy з розмірністю (569,).

1. Завантажте вбудований датасет load_breast_cancer з бібліотеки sklearn.datasets.

In [2]:
from sklearn.datasets import load_breast_cancer

breast_cancer = load_breast_cancer()
data = pd.DataFrame(data=breast_cancer.data, columns=breast_cancer.feature_names)
data['target'] = breast_cancer.target

2. Проведіть попередній аналіз даних:
    1. Перегляньте перші кілька рядків.
    2. Перевірте назви стовпців та типи даних.
    3. Перевірте наявність пропущених значень.
    4. Досліджуйте розмір даних.

In [3]:
data.head()

,mean radius,mean texture,mean perimeter,mean area,mean smoothness,mean compactness,mean concavity,mean concave points,mean symmetry,mean fractal dimension,...,worst texture,worst perimeter,worst area,worst smoothness,worst compactness,worst concavity,worst concave points,worst symmetry,worst fractal dimension,target
0,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,0.2419,0.07871,...,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890,0
1,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,0.1812,0.05667,...,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902,0
2,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,0.2069,0.05999,...,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758,0
3,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,0.2597,0.09744,...,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300,0
4,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,0.1809,0.05883,...,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678,0

In [4]:
data.shape

(569, 31)

In [5]:
data.columns

Index(['mean radius', 'mean texture', 'mean perimeter', 'mean area',
       'mean smoothness', 'mean compactness', 'mean concavity',
       'mean concave points', 'mean symmetry', 'mean fractal dimension',
       'radius error', 'texture error', 'perimeter error', 'area error',
       'smoothness error', 'compactness error', 'concavity error',
       'concave points error', 'symmetry error', 'fractal dimension error',
       'worst radius', 'worst texture', 'worst perimeter', 'worst area',
       'worst smoothness', 'worst compactness', 'worst concavity',
       'worst concave points', 'worst symmetry', 'worst fractal dimension',
       'target'],
      dtype='object')

In [6]:
data.columns = data.columns.str.replace(' ', '_')

data.columns

Index(['mean_radius', 'mean_texture', 'mean_perimeter', 'mean_area',
       'mean_smoothness', 'mean_compactness', 'mean_concavity',
       'mean_concave_points', 'mean_symmetry', 'mean_fractal_dimension',
       'radius_error', 'texture_error', 'perimeter_error', 'area_error',
       'smoothness_error', 'compactness_error', 'concavity_error',
       'concave_points_error', 'symmetry_error', 'fractal_dimension_error',
       'worst_radius', 'worst_texture', 'worst_perimeter', 'worst_area',
       'worst_smoothness', 'worst_compactness', 'worst_concavity',
       'worst_concave_points', 'worst_symmetry', 'worst_fractal_dimension',
       'target'],
      dtype='object')

In [7]:
data.dtypes

mean_radius                float64
mean_texture               float64
mean_perimeter             float64
mean_area                  float64
mean_smoothness            float64
mean_compactness           float64
mean_concavity             float64
mean_concave_points        float64
mean_symmetry              float64
mean_fractal_dimension     float64
radius_error               float64
texture_error              float64
perimeter_error            float64
area_error                 float64
smoothness_error           float64
compactness_error          float64
concavity_error            float64
concave_points_error       float64
symmetry_error             float64
fractal_dimension_error    float64
worst_radius               float64
worst_texture              float64
worst_perimeter            float64
worst_area                 float64
worst_smoothness           float64
worst_compactness          float64
worst_concavity            float64
worst_concave_points       float64
worst_symmetry             float64
worst_fractal_dimension    float64
target                       int64
dtype: object

In [8]:
data.isnull().sum()
# немає пропущених значень

mean_radius                0
mean_texture               0
mean_perimeter             0
mean_area                  0
mean_smoothness            0
mean_compactness           0
mean_concavity             0
mean_concave_points        0
mean_symmetry              0
mean_fractal_dimension     0
radius_error               0
texture_error              0
perimeter_error            0
area_error                 0
smoothness_error           0
compactness_error          0
concavity_error            0
concave_points_error       0
symmetry_error             0
fractal_dimension_error    0
worst_radius               0
worst_texture              0
worst_perimeter            0
worst_area                 0
worst_smoothness           0
worst_compactness          0
worst_concavity            0
worst_concave_points       0
worst_symmetry             0
worst_fractal_dimension    0
target                     0
dtype: int64

In [9]:
data.drop_duplicates(inplace=True)

2. Побудова і налаштування моделей:
    1. Розділіть дані на навчальний і тестовий набори.
    2. Побудуйте три моделі класифікації (на власний вибір), наприклад:
        - Логістична регресія.
        - Дерево рішень.
        - Випадковий ліс (Random Forest).

In [10]:
# Поділ даних на тренувальну і тестову вибірки
X_train, X_test, y_train, y_test = train_test_split(data, data.target, test_size=0.3, random_state=42)

In [11]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [12]:
# 1. Логістична регресія
log_reg = LogisticRegression(random_state=42)
log_reg.fit(X_train_scaled, y_train)
y_pred_log_reg = log_reg.predict(X_test_scaled)

In [13]:
# 2. Дерево рішень
tree_clf = DecisionTreeClassifier(random_state=42)
tree_clf.fit(X_train_scaled, y_train)
y_pred_tree = tree_clf.predict(X_test_scaled)

In [14]:
# 3. Випадковий ліс (Random Forest)
rf_clf = RandomForestClassifier(n_estimators=100, random_state=42)
rf_clf.fit(X_train_scaled, y_train)
y_pred_rf = rf_clf.predict(X_test_scaled)

3. Підберіть оптимальні параметри для кожної моделі за допомогою GridSearchCV (можна вибрати інший оптимізатор).

In [15]:
# 1. Логістична регресія
log_reg = LogisticRegression(random_state=42)
log_reg_params = {
    'penalty': ['l2'],
    'C': [0.1, 1, 10,],
    'solver': ['lbfgs', 'liblinear'],
    'max_iter': [100, 200]
}
log_reg_grid = GridSearchCV(log_reg, log_reg_params, cv=10, n_jobs=-1, verbose=1)
log_reg_grid.fit(X_train_scaled, y_train)
best_log_reg = log_reg_grid.best_estimator_
y_pred_log_reg = best_log_reg.predict(X_test_scaled)

Fitting 10 folds for each of 12 candidates, totalling 120 fits

In [16]:
# 2. Дерево рішень
tree_clf = DecisionTreeClassifier(random_state=42)
tree_clf_params = {
    'criterion': ['gini', 'entropy'],
    'max_depth': [None, 10, 20, 30],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4]
}
tree_clf_grid = GridSearchCV(tree_clf, tree_clf_params, cv=5, n_jobs=-1, verbose=1)
tree_clf_grid.fit(X_train_scaled, y_train)
best_tree_clf = tree_clf_grid.best_estimator_
y_pred_tree = best_tree_clf.predict(X_test_scaled)

Fitting 5 folds for each of 72 candidates, totalling 360 fits

In [17]:
# 3. Випадковий ліс (Random Forest)
rf_clf = RandomForestClassifier(random_state=42)
rf_clf_params = {
    'n_estimators': [50, 100],
    'criterion': ['gini', 'entropy'],
    'max_depth': [None, 10, 20],
    'min_samples_split': [2, 5],
    'min_samples_leaf': [1, 2],
    'bootstrap': [True, False]
}
rf_clf_grid = GridSearchCV(rf_clf, rf_clf_params, cv=5, n_jobs=-1, verbose=1)
rf_clf_grid.fit(X_train_scaled, y_train)
best_rf_clf = rf_clf_grid.best_estimator_
y_pred_rf = best_rf_clf.predict(X_test_scaled)

Fitting 5 folds for each of 96 candidates, totalling 480 fits

4. Оцініть моделі. Виведіть точність (accuracy) – обов’язково, матрицю помилок (confusion matrix) – за вибором та звіт про класифікацію (classification report) для кожної моделі.

In [18]:
def evaluate_model(model_name, y_test, y_pred):
    print(f"--- {model_name} ---")
    print(f"Accuracy: {accuracy_score(y_test, y_pred):.4f}")
    print("Confusion Matrix:")
    print(confusion_matrix(y_test, y_pred))
    print("Classification Report:")
    print(classification_report(y_test, y_pred))
    print("\n")

In [19]:
evaluate_model("Logistic Regression", y_test, y_pred_log_reg)

--- Logistic Regression ---
Accuracy: 1.0000
Confusion Matrix:
[[ 63   0]
 [  0 108]]
Classification Report:
              precision    recall  f1-score   support

           0       1.00      1.00      1.00        63
           1       1.00      1.00      1.00       108

    accuracy                           1.00       171
   macro avg       1.00      1.00      1.00       171
weighted avg       1.00      1.00      1.00       171

In [20]:
evaluate_model("Decision Tree", y_test, y_pred_tree)

--- Decision Tree ---
Accuracy: 1.0000
Confusion Matrix:
[[ 63   0]
 [  0 108]]
Classification Report:
              precision    recall  f1-score   support

           0       1.00      1.00      1.00        63
           1       1.00      1.00      1.00       108

    accuracy                           1.00       171
   macro avg       1.00      1.00      1.00       171
weighted avg       1.00      1.00      1.00       171

In [21]:
evaluate_model("Random Forest", y_test, y_pred_rf)

--- Random Forest ---
Accuracy: 1.0000
Confusion Matrix:
[[ 63   0]
 [  0 108]]
Classification Report:
              precision    recall  f1-score   support

           0       1.00      1.00      1.00        63
           1       1.00      1.00      1.00       108

    accuracy                           1.00       171
   macro avg       1.00      1.00      1.00       171
weighted avg       1.00      1.00      1.00       171

5. Прогнозування і висновки
    1. Оберіть найкращу модель на основі метрик продуктивності.
    2. Зробіть прогноз на тестовій вибірці.
    3. Виведіть результати прогнозування.

Всі три моделі показали однакову точність (Accuracy = 1.0) та відмінні метрики. В реальних кейсах я б потенційно розглянула це як ознаку перенавчання, проте я тут експерементувала з параметрами і можу сказати, що моделі просто занадто добре підходять для тренувальних даних.

Виходячи з отриманих результатів, можна обрати будь-яку з цих моделей для прогнозування, але найчастіше, наскільки мені відомо, використовують найбільш просту модель, якщо немає значної різниці в продуктивності.

Скористалася логістичною регресією для прогнозування.

In [22]:
y_pred_final = best_log_reg.predict(X_test_scaled)

print("Результати прогнозування:")
print(y_pred_final)

Результати прогнозування:
[1 0 0 1 1 0 0 0 1 1 1 0 1 0 1 0 1 1 1 0 0 1 0 1 1 1 1 1 1 0 1 1 1 1 1 1 0
 1 0 1 1 0 1 1 1 1 1 1 1 1 0 0 1 1 1 1 1 0 0 1 1 0 0 1 1 1 0 0 1 1 0 0 1 0
 1 1 1 0 1 1 0 1 0 0 0 0 0 0 1 1 1 1 1 1 1 1 0 0 1 0 0 1 0 0 1 1 1 0 1 1 0
 1 1 0 1 0 1 1 1 0 1 1 1 0 1 0 0 1 1 0 0 0 1 1 1 0 1 1 1 0 1 0 1 1 0 1 0 0
 0 1 0 1 1 1 1 0 0 1 1 1 1 1 1 1 0 1 1 1 1 0 1]

### Частина 2. Датасет titanic.csv

- PassengerId: Ідентифікатор пасажира.
- Survived: Цільова змінна, що вказує на те, чи вижив пасажир (1) чи ні (0).
- Pclass: Клас квитка (1, 2, 3).
- Name: Ім'я пасажира.
- Sex: Стать пасажира.
- Age: Вік пасажира.
- SibSp: Кількість братів, сестер, чоловіка/дружини на борту.
- Parch: Кількість батьків/дітей на борту.
- Ticket: Номер квитка.
- Fare: Вартість квитка.
- Cabin: Номер каюти (може бути відсутній).
- Embarked: Порт посадки (C = Cherbourg; Q = Queenstown; S = Southampton).

Завантажуємо, проводимо попередній аналіз даних (лр 2).
Будуємо 3 класифікатори на вибір, визначаємо оптимальні параметри (оптимізатор – на вибір).
Вибираємо найкращу модель. Виводимо характеристики, метрики.
Робимо прогноз для 10 випадків.

In [23]:
titanic = pd.read_csv('titanic.csv')
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [24]:
titanic.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [25]:
titanic.columns = titanic.columns.str.lower()

titanic.columns

Index(['passengerid', 'survived', 'pclass', 'name', 'sex', 'age', 'sibsp',
       'parch', 'ticket', 'fare', 'cabin', 'embarked'],
      dtype='object')

In [26]:
titanic.dtypes

passengerid      int64
survived         int64
pclass           int64
name            object
sex             object
age            float64
sibsp            int64
parch            int64
ticket          object
fare           float64
cabin           object
embarked        object
dtype: object

In [27]:
titanic.isnull().sum()

passengerid      0
survived         0
pclass           0
name             0
sex              0
age             86
sibsp            0
parch            0
ticket           0
fare             1
cabin          327
embarked         0
dtype: int64

In [28]:
titanic.drop(['name', 'ticket', 'cabin'], axis=1, inplace=True)

In [29]:
titanic['age'].fillna(titanic['age'].mean(), inplace=True)
titanic['fare'].fillna(titanic['fare'].mean(), inplace=True)

In [30]:
titanic.duplicated().sum()

0

In [31]:
print(titanic['survived'].value_counts(normalize=True))

survived
0    0.636364
1    0.363636
Name: proportion, dtype: float64

In [32]:
titanic = pd.get_dummies(titanic, columns=['sex', 'embarked'], drop_first=True)

In [33]:
titanic.shape

(418, 10)

In [34]:
titanic.isnull().sum()

passengerid    0
survived       0
pclass         0
age            0
sibsp          0
parch          0
fare           0
sex_male       0
embarked_Q     0
embarked_S     0
dtype: int64

In [35]:
X = titanic.drop('survived', axis=1)
y = titanic['survived']

In [36]:
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

In [37]:
# Логістична регресія
log_reg = LogisticRegression(random_state=42)
log_reg_params = {
    'C': [0.1, 1, 10],
    'solver': ['lbfgs', 'liblinear']
}
log_reg_grid = GridSearchCV(log_reg, log_reg_params, cv=5, n_jobs=-1, verbose=1)
log_reg_grid.fit(X_train, y_train)

best_log_reg = log_reg_grid.best_estimator_

y_pred_log_reg = best_log_reg.predict(X_test)

evaluate_model("Логістична регресія", y_test, y_pred_log_reg)

Fitting 5 folds for each of 6 candidates, totalling 30 fits
--- Логістична регресія ---
Accuracy: 1.0000
Confusion Matrix:
[[50  0]
 [ 0 34]]
Classification Report:
              precision    recall  f1-score   support

           0       1.00      1.00      1.00        50
           1       1.00      1.00      1.00        34

    accuracy                           1.00        84
   macro avg       1.00      1.00      1.00        84
weighted avg       1.00      1.00      1.00        84

In [38]:
# Випадковий ліс
rf = RandomForestClassifier(random_state=42)
rf_params = {
    'n_estimators': [100, 200],
    'max_depth': [None, 10, 20],
    'min_samples_split': [2, 5]
}
rf_grid = GridSearchCV(rf, rf_params, cv=5, n_jobs=-1, verbose=1)
rf_grid.fit(X_train, y_train)

best_rf = rf_grid.best_estimator_

y_pred_rf = best_rf.predict(X_test)

evaluate_model("Випадковий ліс", y_test, y_pred_rf)

Fitting 5 folds for each of 12 candidates, totalling 60 fits
--- Випадковий ліс ---
Accuracy: 1.0000
Confusion Matrix:
[[50  0]
 [ 0 34]]
Classification Report:
              precision    recall  f1-score   support

           0       1.00      1.00      1.00        50
           1       1.00      1.00      1.00        34

    accuracy                           1.00        84
   macro avg       1.00      1.00      1.00        84
weighted avg       1.00      1.00      1.00        84

In [39]:
# Градієнтний бустинг
gb = GradientBoostingClassifier(random_state=42)
gb_params = {
    'n_estimators': [100, 200],
    'learning_rate': [0.01, 0.1],
    'max_depth': [3, 5, 7]
}
gb_grid = GridSearchCV(gb, gb_params, cv=5, n_jobs=-1, verbose=1)
gb_grid.fit(X_train, y_train)

best_gb = gb_grid.best_estimator_

y_pred_gb = best_gb.predict(X_test)

evaluate_model("Градієнтний бустинг", y_test, y_pred_gb)

Fitting 5 folds for each of 12 candidates, totalling 60 fits
--- Градієнтний бустинг ---
Accuracy: 1.0000
Confusion Matrix:
[[50  0]
 [ 0 34]]
Classification Report:
              precision    recall  f1-score   support

           0       1.00      1.00      1.00        50
           1       1.00      1.00      1.00        34

    accuracy                           1.00        84
   macro avg       1.00      1.00      1.00        84
weighted avg       1.00      1.00      1.00        84

In [40]:
models = {
    "Логістична регресія": (best_log_reg, y_pred_log_reg),
    "Випадковий ліс": (best_rf, y_pred_rf),
    "Градієнтний бустинг": (best_gb, y_pred_gb)
}

best_model_name, (best_model, best_y_pred) = max(models.items(), key=lambda x: accuracy_score(y_test, x[1][1]))

print(f"Найкраща модель: {best_model_name}")
evaluate_model(best_model_name, y_test, best_y_pred)

Найкраща модель: Логістична регресія
--- Логістична регресія ---
Accuracy: 1.0000
Confusion Matrix:
[[50  0]
 [ 0 34]]
Classification Report:
              precision    recall  f1-score   support

           0       1.00      1.00      1.00        50
           1       1.00      1.00      1.00        34

    accuracy                           1.00        84
   macro avg       1.00      1.00      1.00        84
weighted avg       1.00      1.00      1.00        84

In [41]:
# Прогноз для 10 випадків
sample_data = X_test[:10]
sample_predictions = best_model.predict(sample_data)

print("Прогноз для 10 випадків:")
print(sample_predictions)

Прогноз для 10 випадків:
[0 1 0 0 1 0 1 0 1 0]

ВИСНОВКИ

Всі три моделі, які були розглянуті, показали себе добре, оскільки досягли ідеальної точності на тестовому наборі даних, показавши результат 100%.

Моделі правильно класифікувала всі зразки: 50 випадків класу 0 та 34 випадки класу 1. Жодних помилкових класифікацій не було.

Precision, recall, f1-score для обох класів дорівнюювали 1.00, що свідчить про відмінну здатність моделі правильно ідентифікувати всі зразки.

Ці результати свідчать про те, що логістична регресія може бути дуже ефективною для цієї задачі класифікації, однак, слід зауважити, що ідеальна точність може також вказувати на можливе перенавчання. Проте як і у попередній ситуації вважаю, що причина цьому - дані, що призначені для навчання і так підібрані не випадково.

Для прогнозу 10 випадків обрала найпростішу модель